.appContainer {
    margin: 30px;
    display: grid;
    grid-template-columns: 200px 400px;
}

.headerContainer {
    height: 100px;
    width: 630px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatBox {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;
    width: 400px;
    height: 400px;
    overflow: scroll;
    margin: 0px 20px 20px 0px;
    padding: 15px 0px 0px 15px;
    border: solid 1px #a5a5a5;
    border-radius: 4px;
}

.message {
    margin: 15px 5px 0px 0px;
}

.messageText {
    margin-left: 6px;
}

.inputField {
    position: absolute;
    width: 300px;
    height: 40px;
    margin-right: 10px;
}

.actionBtn{
    height:40px;
}

.topicDiv {
    height: 400px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

#topicSelector {
    margin-bottom: 10px;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginHeader {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
